.purple #logo {
  fill: purple;
}
.right>svg {
  transform: translate(280,0);
  transform: scale(-1,1);
}

.black #logo {
  fill: black;
}
.pink #logo {
  fill: pink;
}
.white {
  background-color: blueviolet;
}
.white #logo {
 fill: white;
}
